body {
	width: 1200px;
	margin: auto;
	border: 1px solid;
}

.disappear {
	opacity: 0;
}

.appear {
	opacity: 1;
}

#topline {
	color: black;
	font-size: 40px;
	font-weight: bolder;
	font-family: Tahoma, Verdana, sans-serif;
	text-align: center;
}

#lead, #cheat {
	font-family: Arial, sans-serif;
	font-size: 36px;
	text-align: center;
}

#guide, #luck {
	font-family: Arial, sans-serif;
	font-size: 28px;
	text-align: center;
	width: 600px;
}

#guide {
	margin: 0 auto;
	margin-top: 300px;
}

#example {
	margin: 0 auto;
	margin-top: 20px;
	height: 50px;
	width: 100px;
	background: #EEEEEE;
	border: 1px solid;
}

#luck {
	margin: 0 auto;
	margin-top: 15px;
}

#maze-body {
	margin: auto;
	position: relative;
}

#topblock, #bottom {
	width: 500px;
	height: 50px;
	background: #EEEEEE;
}

#topblock {
	border-style: solid solid none solid;
	border-width: 1px;
	position: absolute;
	left: 350px;
	top: 0px;
	transition: all 2s;
}

#middle-left, #middle-right {
	width: 151px;
	height: 150px;
	background: #EEEEEE;
}

#middle-left {
	border-style: none none none solid;
	border-width: 1px;
	position: absolute;
	left: 350px;
	top: 50px;
	transition: all 2s;
}

#middle-right {
	border-style: none solid none none;
	border-width: 1px;
	position: absolute;
	top: 50px;
	left: 700px;
	transition: all 2s;
}

#middle-bottom {
	position: absolute;
	top: 100px;
	left: 550px;
	width: 100px;
	height: 150px;
	background: #EEEEEE;
	transition: all 2s;
}

#bottom {
	border-style: none solid solid solid;
	border-width: 1px;
	position: absolute;
	top: 250px;
	left: 350px;
	transition: all 2s;
}

.road {
	background: white;
}

#one {
	width: 152px;
	height: 48px;
	position: absolute;
	left: 350px;
	top: 201px;
}

#two {
	width: 48px;
	height: 200px;
	position: absolute;
	left: 501px;
	top: 50px;
}

#three {
	width: 198px;
	height: 48px;
	position: absolute;
	top: 50px;
	left: 501px;
}

#four {
	width: 48px;
	height: 200px;
	position: absolute;
	top: 50px;
	left: 650px;
}

#five {
	width: 152px;
	height: 48px;
	position: absolute;
	left: 700px;
	top: 201px;
}

#start {
	height: 42px;
	width: 42px;
	z-index: 99;
	font-size: 40px;
	font-weight: bolder;
	font-family: fantasy;
	border-style: double;
	background: green;
	text-align: center;
	position: absolute;
	left: 350px;
	top: 201px;
}

#end {
	height: 42px;
	width: 42px;
	z-index: 99;
	font-size: 40px;
	font-weight: bolder;
	font-family: fantasy;
	border-style: double;
	background: yellow;
	text-align: center;
	position: absolute;
	left: 805px;
	top: 201px;
}